@import './colors.css';

.btn {
  display: inline-block;
  border: solid 2px var(--orange);
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 125%;
  padding: .75rem 1rem;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 2px var(--lighter-gray);
  transition: box-shadow .2s;

  &.primary {
    border: none;
    background-color: var(--orange);
    color: white;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0 2px 5px var(--light-gray);
  }

  &.xs-full-width {
    width: 100%;
    padding: .75rem 0;
    @media (--sm-viewport) {
      width: auto;
      padding: .75rem 1rem;
    }
  }
}
