@import './colors.css';

.btn {
  border: solid 2px var(--orange);
  border-radius: 5px;
  font-size: 0.75em;
  font-weight: 600;
  padding: .5rem 1rem;
  box-shadow: 0 2px 2px var(--lighter-gray);
  text-transform: uppercase;
  display: inline-block;
  transition: box-shadow .2s;

  &:hover {
    text-decoration: none;
    box-shadow: 0 2px 5px var(--light-gray);
  }
}
