@import 'flexboxgrid/src/css/flexboxgrid.css';
@import './media.css';

.container-fluid {
  padding-left: var(--gutter-width, 1rem);
  padding-right: var(--gutter-width, 1rem);

  @media (--sm-viewport) {
    padding-left: calc(3 * var(--gutter-width, 1rem));
    padding-right: calc(3 * var(--gutter-width, 1rem));
  }

  @media (--lg-viewport) {
    padding-left: calc(10 * var(--gutter-width, 1rem));
    padding-right: calc(10 * var(--gutter-width, 1rem));
    max-width: 90rem;
  }
}

@media (--xs-viewport-only) {
  .hide-xs {
    display: none !important;
  }
}

@media (--sm-viewport-only) {
  .hide-sm {
    display: none !important;
  }
}

@media (--sm-viewport) {
  .hide-sm-up {
    display: none !important;
  }
}

@media (--md-viewport-only) {
  .hide-md {
    display: none !important;
  }
}

@media (--md-viewport) {
  .hide-md-up {
    display: none !important;
  }
}

@media (--sm-viewport-down) {
  .hide-sm-down {
    display: none !important;
  }
}

@media (--md-viewport-down) {
  .hide-md-down {
    display: none !important;
  }
}

@media (--lg-viewport) {
  .hide-lg {
    display: none !important;
  }

  .row-lg-offset--3 {
    margin-left: -35.5%;
  }
}
