@import 'flexboxgrid/src/css/flexboxgrid.css';

.container {
  box-sizing: border-box;
  padding-left: var(--gutter-width, 1rem);
  padding-right: var(--gutter-width, 1rem);
}

/* https://github.com/kristoferjoseph/flexboxgrid/pull/140 */
@custom-media --sm-viewport-down only screen and (max-width: 64em);
@custom-media --md-viewport-down only screen and (max-width: 75em);

@custom-media --xs-viewport-only only screen and (max-width: 48em);
@custom-media --sm-viewport-only only screen and (min-width: 48em) and (max-width: 64em);
@custom-media --md-viewport-only only screen and (min-width: 64em) and (max-width: 75em);

@media (--xs-viewport-only) {
  .hide-xs {
    display: none !important;
  }
}

@media (--sm-viewport-only) {
  .hide-sm {
    display: none !important;
  }
}

@media (--sm-viewport) {
  .hide-sm-up {
    display: none !important;
  }
}

@media (--md-viewport-only) {
  .hide-md {
    display: none !important;
  }
}

@media (--md-viewport) {
  .hide-md-up {
    display: none !important;
  }
}

@media (--sm-viewport-down) {
  .hide-sm-down {
    display: none !important;
  }
}

@media (--md-viewport-down) {
  .hide-md-down {
    display: none !important;
  }
}

@media (--lg-viewport) {
  .hide-lg {
    display: none !important;
  }

  .row-lg-offset--3 {
    transform: translateX(-25%);
  }
}
