@import '~normalize.css';
@import 'typography.css';
@import 'grid.css';

:root {
  --orange: hsl(12, 99%, 67%);
  --tan: hsl(48, 100%, 98%);
}

body {
  border: solid 5px var(--orange);
  background-color: var(--tan);
}
