:root {
  --orange: hsl(12, 99%, 67%);
  --white: hsla(0, 0%, 100%, .9);
  --dark-text: hsl(12, 7%, 8%);
  --gray-text: hsl(12, 2%, 40%);
}

body {
  text-rendering: optimizeLegibility;
  line-height: 150%;
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

h1, h2 {
  font-family: 'Roboto Mono', 'Menlo', monospace;
  text-transform: uppercase;
}

header, aside {
  box-sizing: border-box;
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--dark-text);
  color: var(--gray-text);

  > div {
    max-width: 380px;
  }

  flex-basis: 50%;
  @media (max-width: 768px) {
    flex-basis: 100%;
    width: 100%;
  }
}

header {
  background: var(--orange);
  font-size: 20px;
  line-height: 175%;
  position: fixed;
  height: 100vh;

  &, a {
    color: var(--white);
  }

  img[alt='a tasty waffle'] {
    width: 191px;
  }

  p:last-child a {
    text-decoration: none;
    border: 3px solid var(--white);
    border-radius: 4px;
    padding: 10px 30px 7px;
    margin: 1em 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }

  em {
    display: block;
    opacity: 0.7;
    font-size: 14px;
    font-style: normal;
    margin-top: -10px;
    text-align: center;
  }

  @media (max-width: 768px) {
    position: initial;
    height: auto;
    flex-basis: 100%;
    width: 100%;
  }
}

aside {
  width: 50%;
  margin-left: 50%;
  h1, h2, a {
    color: var(--orange);
  }

  h2 {
    margin-top: 60px;
  }

  strong {
    font-weight: normal;
    color: var(--gray-text);
  }

  em {
    font-style: normal;
    color: var(--gray-text);

    &:first-child {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      padding-top: 4px;
      background-color: #fff;
      font-size: 16px;
    }

    &:nth-child(2) {
      font-family: 'Roboto Mono', 'Menlo', monospace;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 52px;
      margin-top: -31px;
      padding-top: 0;
      display: block;
    }
  }

  strong {
    border-left: 2px solid #EFEFEF;
    position: absolute;
    content: '';
    font-size: 0;
    margin-left: 15px;
    margin-top: 40px;
    height: 1193px;
    z-index: -1;
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin: 3.2em 0;
      color: var(--dark-text);
      font-family: 'Roboto Mono', 'Menlo', monospace;
      font-size: 14px;
    }

    li:nth-child(2) {
      color: var(--gray-text);
      margin-top: 4px;
      font-size: 16px;
      font-family: 'PT Sans', sans-serif;
    }

    ul {
      margin-left: 52px;

      li {
        margin: 0;
      }
    }
  }

  @media (max-width: 375px) {
    strong {
      height: 1211px;
    }

    em {
      &:nth-child(2) {
        font-family: 'Roboto Mono', 'Menlo', monospace;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 44px;
        margin-top: -31px;
        padding-top: 0;
        display: block;
      }
    }

    ul {
      ul {
        margin-left: 44px;
      }
    }
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
