doctype html
html(lang='en')
  head
    title WaffleJS 
    meta( charset='utf-8' )
    meta( name='viewport' content='initial-scale=1' )
    meta( property='og:title' content='WaffleJS' )
    meta( property='og:description' content='A fun night of tech, waffles, and karaoke.' )
    meta( property='og:type' content='website' )
    meta( property='og:image' content='https://wafflejs.com/images/#{require("generate-social-img!")}' )
    meta( property='og:url' content='https://wafflejs.com' )
    base( href='/' )
  body( ng-app='wafflejs' ng-strict-di )
    header
      .container-fluid
        .row.between-xs
          .col-xs-12.col-sm-6.col-md-7
            h4.highlight
              a( ui-sref='index({ day: null })' ) WaffleJS
              a( href='https://twitter.com/wafflejs' title='WaffleJS on Twitter' )
                include images/icons/twitter.svg
              a( href='https://github.com/wafflejs/wafflejs.github.io/issues' title='WaffleJS on GitHub' )
                include images/icons/github.svg
              a( href='https://borojs.slack.com/join/shared_invite/enQtMzM2Nzc5ODExNjY2LTUyNTg3OGMzMzhhNWU2OWViNWUxNmMyZjA5NmMzNGFhYmJkOWE5NzA4NWI5ZGY2NjdmNzBmYWJjMjYzZjkwOGE' title='Slack channel' )
                include images/icons/slack.svg
          .col-xs-12.col-sm-6.end-sm.col-md-5.start-md
            ul.nav
              li I want to:
              li: a.light-gray( ui-sref='speakers' ) Speak
              li: a.light-gray( ui-sref='performers' ) Perform
              li: a.light-gray( ui-sref='sponsorship' ) Sponsor

    main( ui-view )

    footer.fixed
      .row.start-xs.end-sm
        .col-xs-12.col-sm-5.col-md-3
          a.btn.primary.xs-full-width( ui-sref='tickets' ui-sref-active='ng-hide' )
            div
              // Buy Waffle – $10
              | Buy Doughnut – $10
              // Sold Out 😅
            small
              | Ticket Included
              // Join Waiting List

    //-- Twitter universal website tag code
    script.
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','nxrsd');
      twq('track','PageView');
    //-- End Twitter universal website tag code
