:root {
  --orange: hsl(12, 99%, 67%);
}

html, body, .markdown {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  line-height: 150%;
  font-family: 'PT Sans', sans-serif;
}

h1, h2 {
  font-family: 'Roboto Mono', 'Menlo', monospace;
  text-transform: uppercase;
}
