body {
  background: hsl(12, 99%, 67%);
  color: hsla(0, 0%, 100%, .8);
  text-rendering: optimizeLegibility;
  line-height: 125%;
  font-family: Lato, sans-serif;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3, a {
  color: hsla(0, 0%, 100%, .9);
}

h1 {
  font: bold 400% Alegreya, serif;
  letter-spacing: -2px;
}

h2 + p a {
  text-decoration: none;
  border: solid 1px hsla(0, 0%, 100%, .8);
  border-radius: 3px;
  padding: 10px 20px;
  margin: 2em 0;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  h2 + p ~ p {
    text-align: left;
  }
}
