:root {
  --orange: hsl(12, 99%, 67%);
  --gray: hsl(0, 0%, 96%);
  --white: hsla(0, 0%, 100%, .9);
  --dark-text: hsl(12, 7%, 8%);
  --gray-text: hsl(12, 2%, 40%);
}

.markdown {
  display: flex;
  flex-wrap: wrap;
}

header, aside {
  box-sizing: border-box;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--dark-text);
  color: var(--gray-text);

  > div {
    max-width: 380px;
    padding: 0 20px;
    z-index: 10000;
  }

  flex-basis: 50%;
  @media (max-width: 768px) {
    flex-basis: 100%;
    width: 100%;
  }
}

header {
  background: var(--orange);
  font-size: 20px;
  line-height: 175%;
  position: fixed;
  z-index: 1;
  height: 100vh;

  &, a {
    color: var(--white);
  }

  img[alt='a tasty waffle'] {
    width: 191px;
  }

  p:last-child a {
    text-decoration: none;
    border: 3px solid var(--white);
    border-radius: 4px;
    padding: 10px 30px 7px;
    margin: 1em 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
  }

  em {
    display: block;
    opacity: 0.7;
    font-size: 14px;
    font-style: normal;
    margin-top: -10px;
    text-align: center;
  }

  @media (max-width: 768px) {
    position: initial;
    height: auto;
    flex-basis: 100%;
    width: 100%;
  }
}

aside {
  width: 50%;
  margin-left: 50%;

  @media (max-width: 768px) {
    margin-left: 0;
  }

  h1, h2, a {
    color: var(--orange);
  }

  h2 {
    margin-top: 2em;
  }

  ul {
    list-style-type: none;
  }

  > div {
    background-color: var(--white);
  }

  > div > ul {
    padding-left: 0;

    > li {
      margin: 3em 0;
      color: var(--dark-text);
      font-family: 'Roboto Mono', 'Menlo', monospace;
      font-size: 14px;

      /* line */
      position: relative;
      &::before {
        content: '';
        border-left: 2px solid var(--gray);
        position: absolute;
        top: 26px;
        bottom: calc(-3em + 6px);
        left: 10px;
        z-index: -1;
      }
      &:last-child::before {
        border-left: none;
      }

      em {
        font-style: normal;
        color: var(--gray-text);

        &:first-child { /* emoji */
          font: 16px/16px sans-serif;
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        &:nth-child(2) {
          font-weight: 300;
          font-size: 12px;
          text-transform: uppercase;
          margin-left: 12px;
        }
      }

      > ul {
        li {
          margin: .25em 0;
        }

        li:nth-child(2) {
          color: var(--gray-text);
          font-size: 16px;
          font-family: 'PT Sans', sans-serif;
        }
      }
    }
  }
}

