/* Typography */

* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  line-height: 150%;
  font-family: 'PT Sans', sans-serif;
  color: hsl(12, 7%, 8%);
}

h1, h2, h3 {
  font-family: 'Roboto Mono', 'Menlo', monospace;
  font-weight: 400;
  color: hsl(12, 99%, 67%);
}

a {
  color: hsl(12, 99%, 67%);
}

section {
  max-width: 720px;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}

/* Table */

table {
  width: 100%;
}

td, th {
  padding: .5em;
  text-align: left;
}

td:first-child, th:first-child {
  padding-left: 0;
}

td.right, th.right {
  text-align: right;
}

/* Lists */

ul {
  padding-left: 1em;
}

ul.horizontal-list {
  padding-left: 0;
}

ul.horizontal-list li {
  display: inline;
  padding-right: 1em;
}
