title  · A fun night of code, waffles, and karaoke.

div( class=className )
  header: .container: .row.bottom-sm
    .col-xs-12.col-sm-7
      :marked
        <h4 class="highlight">WaffleJS</h4>

        A fun night of code, waffles, and karaoke.
        ==========================================

        ### All proceeds go to [Girls Who Code][1].

        [1]: http://girlswhocode.com/
        
    .col-xs-12.col-sm-5
      :marked
        ##### Date & Time
        ### Wednesday, December 2 at 7 PM

        ##### Location
        ### [SOMA StrEat Food][1] (in the [barn][2])

        [1]: https://goo.gl/maps/0gkOe
        [2]: /map

  section#about: .container: .row
    .col-xs-12.col-sm-6
      :marked
        About
        -----

        WaffleJS is a meetup about web technology with a side of waffles
        and karaoke. We meet on the first Wednesday of every month.

        All participants are expected to follow the [JSConf Code of
        Conduct][1].

        [1]: http://jsconf.com/codeofconduct.html

  section#schedule: .container: .row
    .col-xs-12.col-sm-6
      h2 Schedule

      ul: li( ng-repeat='event in index.schedule' )
        .row.row-lg-offset--3( ng-repeat="(time, item) in event" )
          .col-xs-12.col-lg-3.end-lg
            h5
              | {{time}} 
              span.hide-lg( ng-show='item.type') · {{item.type}}
          .col-xs-12.col-lg-9( ng-show='item.person || item.type' )
            h5.highlight( ng-show='item.person' )
              | {{item.person.name}} · 
              a( ng-href='https://twitter.com/{{item.person.twitter}}' )
                | @{{item.person.twitter}}
          .hide-md-down.col-lg-3.end-lg( ng-show='item.type' )
            h5 {{item.type}}
          .col-xs-12.col-lg-9
            h3 {{item.title || item}}
          .col-xs-12.col-lg-9.col-lg-offset-3( marked='item.description' )

  section#sponsors: .container: .row
    .col-xs-12.col-sm-6
      :marked
        Sponsors
        --------

        This month's WaffleJS is sponsored by [Dropbox][1], [Opendoor][2], and
        [New Relic][3].

        [1]: https://www.dropbox.com/jobs
        [2]: https://www.opendoor.com/jobs
        [3]: https://newrelic.com/about/careers

      p: a.btn( href='/sponsorship' ) Sponsor

    .col-xs-12.col-sm-6.row.around-xs.middle-xs
      include ../../images/sponsors/dropbox.svg
      include ../../images/sponsors/opendoor.svg
      include ../../images/sponsors/newrelic.svg

  section#get-involved: .container
    h2 Get Involved

    .row
      .col-xs-12.col-sm-6
        :marked
          ### Call for Speakers
          We're looking for speakers! You don't need to be an expert. Talks are
          ten minutes each. Topics we like are creative applications of
          programming, something you're excited about outside of work, or a
          deep dive on a technical topic. Surprise us!

        p: a.btn(
          href='https://github.com/wafflejs/wafflejs.github.io/issues/90' )
          | I Wanna Speak

      .col-xs-12.col-sm-6
        :marked
          ### Call for Performers
          We're looking for people to perform! We like singing, plate-spinning,
          dancing, and harps! You don't have to be great, just enthusiastic.
          Try to keep it to one or more acts of six minutes each.

        p: a.btn(
          href='https://github.com/wafflejs/wafflejs.github.io/issues/89' )
          | I Wanna Perform

  section#transparency: .container
    h2 Transparency

    .row
      .col-xs-12.col-sm-6
        :marked
          ### Finance

          We donate all proceeds every month. Check out [our budget
          spreadsheet][1] to learn more.

          [1]: foo

      .col-xs-12.col-sm-6
        :marked
          ### Planning

          We plan everything out in the open. We track our issues on
          [GitHub][2] and organize on [Slack][3]. Feel free to join and say hi!

          [2]: bar
          [3]: baz

  section
  section
