ul.schedule: li( ng-repeat='event in events track by $index' )
  .row.row-lg-offset--3( ng-repeat="(time, item) in event" )
    .col-xs-12.col-lg-3.end-lg
      h5 {{time}} 
        span.hide-lg
          span( ng-show='item.type || item.emoji' ) · 
          span( ng-show='item.emoji' ) {{item.emoji}} 
          span( ng-show='item.type' ) {{item.type}}
    .col-xs-12.col-lg-9( ng-show='item.person || item.type' )
      h5.highlight( ng-show='item.person' )
        | {{item.person.name}} · 
        a( ng-href='https://twitter.com/{{item.person.twitter}}' )
          | @{{item.person.twitter}}
    .hide-md-down.col-lg-3.end-lg( ng-show='item.type' )
      h5 {{item.type}}
    .col-xs-12.col-lg-9
      h3( ng-show='item.title' marked='item.title' )
    .hide-md-down.col-lg-3.end-lg( ng-show='item.emoji && item.description' )
      h5 {{item.emoji}}
    .col-xs-12.col-lg-9(
      ng-class='{ "col-lg-offset-3": !item.emoji }'
      marked='item.description' )
