header: .container
  .row.bottom-sm
    .col-xs-12.col-sm-6
      :markdown
        #### WaffleJS

        A fun night of code, waffles, and karaoke.
        ==========================================

        ### All proceeds go to [Girls Who Code][1].

        [1]: girlswhocode
    .col-xs-12.col-sm-6
      :markdown
        ##### Date & Time
        ### Wednesday, December 2 at 7 PM

        ##### Location
        ### [SOMA StrEat Food][1] (in the [barn][2])

        [1]: foo.com
        [2]: /map

section#about: .container
  :markdown
    About
    -----

    WaffleJS is a meetup about web technology with a side of waffles
    and karaoke. We meet on the first Wednesday of every month.

    All participants are expected to follow the [JSConf Code of
    Conduct][1].

    [1]: jsconf

section#schedule: .container
  :markdown
    Schedule
    --------

footer
