div( class=className )
  section#header: .container-fluid
    .row.bottom-sm
      .col-xs-12.col-sm-7
        h1 Tickets

        h3 All proceeds go to 
          a.black( ng-repeat='(name, url) in tickets.day.charity' ng-href='{{url}}' ) {{name}}
          | .

      .col-xs-12.col-sm-5.details
        h5 Date & Time
        h3: a.black( href='/models/WaffleJS.ics' target='_self' )
          | {{tickets.day.date | date:'EEEE, MMMM d':'UTC'}} at 7 PM

        h5 Location
        h3 Indefinite hiatus

  section: .container-fluid
    p By buying a ticket and attending, you are agreeing to abide by our 
      a( href="https://wafflejs.com/conduct" target="_self" ) Code of Conduct
      | . Events are sometimes recorded or photographed. Your image may appear
      | online. <a href="mailto:hi@wafflejs.com">Contact us</a>
      | if you have any concerns.
    tito-widget( event='wafflejs/{{tickets.day.date | date:"MMMM":"UTC"}}' )
      h3 Loading…
