@import '../../colors.css';

chart-gender {
  display: block;

  rect.bar {
    shape-rendering: crispEdges;
    fill: var(--light-gray);

    &.null {
      fill: var(--lighter-gray);
    }

    &.F {
      fill: var(--orange);
    }
  }

  text.label {
    fill: var(--tan-translucent);
  }
}
