@import '../../colors.css';

chart-tickets {
  display: block;

  svg {
    height: 400px;
  }

  path.line.current {
    stroke: var(--orange);
    stroke-width: 1.5px;
  }

  g.voronoi {
    path {
      fill: none;
      pointer-events: all;
    }
  }
}
