div( class=className )
  section#tickets-by-month: .container-fluid
    h1 Tickets by Month
    p.
      Tickets sold by month, counting backwards from the date of the event.
      August and September both sold out and ended sales early. February is
      still in progress.
    chart-tickets
